<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
    <body class="background2"> </body>
  <title>Webbhistoria</title>
  <meta name="Project" content="2020 news">
  <meta name="Simon St Sy19" content="Give me A">

  <link rel="stylesheet" href="/style.css">

</head>

<body>
    <a href="/view/index.html" class="home">
        Home
    </a>
<h1 class="center">
    2020 Hur har Corona påverkat oss
</h1> 
<img class="picturev2" src="https://images.ctfassets.net/e8gvzq1fwq00/1OLNRKUrUTOLkTUNxT8JFH/2c92e5364d777cb9a3b79dbbe7efacf8/corona-4930541_1920.jpg?w=1200&fm=webp&q=70">
<p class="center"> 

</p>
<p>
    <b>Covid-19 </b>
       Klassas som en Svår akut respiratorisk sjukdom (SARS) vilket innebär att världen har gått ifrån en epidemi till en pandemi.
       Vilket innebär att världen inkluderat Sveriga har behövt gått i "karantän"
    
</p>
<p>
    Karatän har gjort att många har behövt jobba hemma för att försöka få samhället att gå runt fortfarande.
</p>

<p>
    Har det verkligen varit bra att gå i karatän och vad finns det för fördelar och nackdelar med att behöva jobba hemma
</p>    
<p>
    <b>Första </b> är att när man behöver jobba hemma 5 dagar i veckan (eller mer) leder oss till att bli väldigt mycket effektivare, inget behov av kollektiv trafik samt andra färdtjänster.
    <br>
    <b>Andra </b> är att folk kan istället spendera sin tid som dem sparar med sin familj, hobbys eller grejer som dem har velat göra förut men inte haft någon tid.
    <br>
    <b>Tredje</b> är att egentligen finns det ingen anledning för folk att behöva åka till jobbet om dem ändå ska sitta vid en dator och ta 17 kaffe pauser.
    <br>
    När många har samma förutsättningar hemma. För världen kommer behöva bli mer effektivare med tiden då vi börjar bli smartare och smartare för dagarna som kommer.

</p>
<p>
    Anledningar till varför vi inte har inte gått är pga dem negativa sidorna.
    <br>
    <b>Första </b> negativa anledningen är att många fysiska grejer som möten, kommuncering mellan kollegor och bara den vardagliga pratstunderna som vi behöver.
    <br>
    <b>Andra </b> negativa anledningen är att många har det tufft hemma, vissa kanske inte har tillgång till en bra dator som funkar,
    en plats som är ergonomisk eller en skärm som där dem kan faktiskt se på. Då det är oftast arbetsgivaren som fixar det på kontoret.
    Sen finns det folk som har det ännu tuffare, personer som kan inte vill vara hemma pga familjemedlemmar eller ett behov över att få träffa folk.
    Vilket beror ifrån person till person men i stort sett då vi människor är sociala däggdjur förstör det för hur våran naturliga sett att agera.
    <br>
    <b>Tredje</b> grejen är att det kan ha en stor påverkan på ens hälsa, att inte kunna ta sig till jobbet, gå runt i sina lokaler på jobbet
    samt kanske inte följa med på AV gör att dem stegen vi människor behöver (10 000 om dagen) kommer förmodligen inte uppnås pga att man sitter hemma.
</p>

</body>