<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
    <body class="background2"> </body>
  <title>Webbhistoria</title>
  <meta name="Project" content="1969 Så tänker man sig inför framtiden.">
  <meta name="Simon St Sy19" content="Give me A">

  <link rel="stylesheet" href="/style.css">

</head>

<body>
    <a href="index.html" class="home">
        Home
    </a>
<h1 class="center">
    1969 Filmklipp: Så tänker man sig framtiden för internet
</h1> 
<p class="center"> 
<iframe
class="video"
src="https://www.youtube.com/embed/-YlouJEcipU"
frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
allowfullscreen>
</iframe>
</p>
<p>
    <b>I ett filmklipp</b>
     från slutet av sextiotalet spekuleras det om framtidens hus.
    I en sekvens får man se många olika terminaler där mor och far beställer kläder, tittar över bankärenden, och korresponderar med andra.
</p>
<p>
    I videon förutspås även e-post, som kan skickas till vem som helst över hela jorden på ett kick.
    Berättarrösten kallar funktionen för ”home post office”. Samma år som filmen produceras skapas faktiskt det som kommer att bli det ”riktiga internet”: Arpanet.
</p>
    


</body>