<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
    <body class="background2"> </body>
  <title>Webbhistoria</title>
  <meta name="Project" content="1978 Elever testar datorer.">
  <meta name="Simon St Sy19" content="Give me A">

  <link rel="stylesheet" href="/style.css">

</head>

<body>
    <a href="index.html" class="home">
        Home
    </a>
<h1 class="center">
    1978 Filmklipp: Elever får testa datorer - men det är inte utan oro
</h1> 
<p class="center"> 
<iframe 
class="video"
src="https://www.youtube.com/embed/aVAbkrwU7wQ" 
frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
allowfullscreen>
</iframe>
</p>
<p>
    <b>SVT:s program Lördags hänger med elever på en gymnasieskola som får testa dataterminaler.</b>
</p>
<p>
    Man kan till exempel använda dem för att snabbt räkna ut saker som annars skulle ha tagit flera månader, visar det sig.
     Vad händer med en fisk i en älv om man häller ut smuts i vattnet? är uppgiften och datorn räknar ut svaret på några sekunder. 
    ”Det är inte ett dugg svårare än att använda en skrivmaskin”, försäkrar berättaren i klippet.
</p>
<p>
    <b>Därefter</b>
     väntar studiebesök på banken, vid biljettkontoret och på en fabrik, där arbetet blivit effektiviserat. 
    Och så beskrivs i detalj hur en datamaskin är uppbygd och hur den fungerar.
</p>
<p>
    ”Utvecklingen får dock inte rusa iväg hur som helst. Tänk om vi snart har en datamaskin i varje hem”, befarar skolungdomarna i klippets slutskede.
     ”Man känner sig inte säker på något vis.”
</p>
    


</body>