<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
    <body class="background2"> </body>
  <title>Webbhistoria</title>
  <meta name="Project" content="Alfresco Software and Apache Roller">
  <meta name="Simon St Sy19" content="Give me A">

  <link rel="stylesheet" href="/style.css">

</head>

<body>
    <a href="index.html" class="home">
        Home
    </a>
<h1 class="center">
    Alfresco Softwware
</h1> 
<img class="picturev2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Alfresco_Share_Screenshot.png/450px-Alfresco_Share_Screenshot.png">
<p>
    <b>Alfresco </b>
    Alfresco is a collection of information management software products for Microsoft Windows and Unix-like operating systems developed by <b>Alfresco Software Inc.</b> using Java technology.
     Their primary software offering, branded as a Digital Business Platform
     is proprietary & a commercially licensed open source platform, supports open standards, and provides enterprise scale.
</p>
<p>
    Alfresco Software Inc. also provides open source Community Editions as free, LGPLv3 licensed open source software.
     These have some default restrictions in terms of scalability and availability, e.g. there is no built-in clustering support.
     Quality assurance by Alfresco is limited and bug fixes are only issued for the current versions.
     There is a community support for the Community Edition including an independent association, the Order of the Bee.</p>

<p>
    
</p>    
<h2>History</h2>
<p>
    <b>John Newton </b> (co-founder of Documentum) and John Powell (a former COO of Business Objects) founded Alfresco Software, Inc. 
    in 2005. Its investors include the investment firms Sapphire Ventures (formerly SAP Ventures), Accel Partners and Mayfield Fund.
    The original technical staff consisted of principal engineers from Documentum and Oracle.
    <br>
    <b>In July 2005, </b> In July 2005, Alfresco released the first version of their software.
    <br>
    While Alfresco's product initially focused on document management, in May, 2006,
     the company announced its intention to expand into web content management by acquiring senior technical and managerial staff from Interwoven;
      this included its VP of Web Content Management,
     two principal engineers, and a member of its user-interface team. 
    <br>
    <b>In October 2009,</b>  the 2009 Open Source CMS Market Share Report described Alfresco as a leading Java-based open source web content management system.
    <br>
    <b>In 2010 </b> In 2010, Alfresco sponsored a new open-source BPM engine called Activiti.
    <br>
    <b>In July 2011 </b> Alfresco and Ephesoft announced a technology partnership to offer document capture and Content Management 
    Interoperability Services brought together for intelligent PDF capture and search and workflow development.
    <br>
    <b>I October 2011 </b>  Alfresco 4.0 was released with improvements to the user interface.
     The new Alfresco moved additional features from Alfresco Explorer to Alfresco Share,
     as Alfresco Explorer is intended to be deprecated over time.
    <br>
    <b>In January 2013, </b>Alfresco appointed Doug Dennerline, former President of SuccessFactors,
     former EVP of Sales at Salesforce.com, and former CEO of WebEx, as its new CEO.
    <br>
    <b>In September 2014, </b> Alfresco 5 was released with new reporting and analytics features and an overhaul of its document search tool, moving from Lucene to Solr.
    <br>
    <b>In November 2016, </b> Alfresco launched an AWS Quickstart for building an Alfresco Content Services server cluster on the AWS Cloud.
    <br>
    <b>In March 2017, </b> Alfresco 5.2 was released and rebranded as the Digital Business Platform. This included the release of the Application Development Framework with reusable Angular JS(2.0) components.
    <br>
    <b>On February 8, 2018,  </b>it was announced that Alfresco was to be acquired by the private equity firm Thomas H. Lee Partners, L.P.
    <br>
    <b>On september 9, 2020,  </b>it was announced that Alfresco was to be bought by Hyland Software.
</p>

<h2>Products</h2>
<ul>
        <p>
        Alfresco's core Digital Business Platform offering consists of three primary products. It is designed for clients who require modularity and scalable performance.
         It can be deployed on-premises on servers or in the cloud using an Amazon Web Services (AWS) Quick Start. A multi-tenant SaaS offering is also available.
        </p>
    <li>Alfresco Content Services (ACS)</li>
        <p>The enterprise content management (ECM) capabilities that have been a core part of Alfresco's business since its founding.
         It includes a central content and metadata repository, a web interface named Share,
          the ability to define automated business rules, and full-text indexing provided using Apache Solr.
        </p>
    <li>Alfresco Process Services (APS)</li>
        <p>
            The business process management (BPM) capabilities stemming from the open source Activiti project.
             It includes graphical design tools, business rules editors, and data integration to external business systems.
        </p>
    <li>Alfresco Governance Services (AGS)</li>
        <p>
            Formerly known as Alfresco Records Management, AGS is an add-on software component that provides records management functionality to address information governance requirements.
             Alfresco Governance Services is DoD 5015.02 certified for records management.
        </p>
    <li>Alfresco Community Edition</li>
        <p>
            The open source community edition of Alfresco Content Services.
        </p>
    <li>Activiti</li>
        <p>
            Activiti is a separate open source product that is the community edition of Alfresco Process Services.
        </p>
</ul>

<h2>
    Usage
</h2>
<p>
    Enterprise content management for documents, web, records, images, videos, rich media, and collaborative content development.
     In 2019 it implemented a programme to enable George Eliot Hospital NHS Trust to become paperless.
</p>


<h1>Apache Roller</h1>
<p>
    <b>Apache Roller</b>
    is a Java-based open-source "full-featured, Multi-blog, Multi-user, and group-blog server suitable for blog sites large and small".
    Roller was originally written by Dave Johnson in 2002 for a magazine article on open source development tools, but became popular at FreeRoller.net (now JRoller.com)
     and was later chosen to drive the employee blogs at Sun Microsystems, Inc. and IBM developerWorks blogs.
     <br>
     On April 23, 2007, Roller project graduated from incubator, so it became an official project of the Apache Software Foundation and it was released 3.1 version, first official release.
</p>
</body>