<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/script.js" type="module"></script>
    <link rel="stylesheet" href="/style.css">

  </head>  


<body class="background">  
 <h1 class="center";>Webbhistoria</h1>

 <h3 class="h3">Välj ett år tal</h3>

<nav>
  <ul>
    <li><a href="1969.html">1969</a></li>
    <li><a href="1974.html">1974</a></li>
    <li><a href="1978.html">1978</a></li>
    <li><a href="1980.html">1980</a></li>
    <li><a href="1994.html">1994</a></li>
    <li><a href="2004.html">2004</a></li>
    <li><a href="2011.html">2011</a></li>
    <li><a href="2020/2020.html">2020</a></li>
    <li><a href="Alfresco-Apache.html">Alfrescho</a></li>
  </ul>
</nav>
</body>
  </body>
</html>
